---
import { SkipLink } from '@littlesticks/odyssey-theme-components';
import BaseHead from '../components/head/BaseHead.astro';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';
import Pie from '../components/head/pie.jsx';
import PageFind from '../components/pageFind/index.astro';
export interface Props {
	seo?: BaseHeadProps;
}

const { seo } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead {...seo} />
	</head>
	<body>
		<SkipLink />
		<slot name="announcement-bar" />
		<main id="content">
			<slot name="header" />
			<slot />
		</main>
		<slot name="footer" />
		<Pie client:only="react" />
		<PageFind />
	</body>
</html>
