---
// import { Button, FormInput, FormSelect, FormTextarea } from '@littlesticks/odyssey-theme-components';
// const selectOptions = [
//   "Google Search",
//   "Social Media",
//   "Email",
// ]
---

<!-- <form name="Contact Form" method="POST" action="/contact-thank-you" data-netlify="true">
  <FormInput type="text" label="Name" name="Name" placeholder="John Doe" />
  <FormInput type="email" label="Email" name="Email" placeholder="hello@example.com" />
  <FormSelect label="How Did You Hear About Us?" options={selectOptions} />
  <FormTextarea label="Message" name="Message" placeholder="Your message here..." />
  <Button>Submit</Button>
</form> -->
<script
	src="https://giscus.app/client.js"
	data-repo="GGBeng1/GGbengSite"
	data-repo-id="R_kgDOH5j3qg"
	data-category="Announcements"
	data-category-id="DIC_kwDOH5j3qs4CRHAo"
	data-mapping="pathname"
	data-strict="0"
	data-reactions-enabled="1"
	data-emit-metadata="0"
	data-input-position="bottom"
	data-theme="preferred_color_scheme"
	data-lang="zh-CN"
	crossorigin="anonymous"
	async></script>

<style>
	/* form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  } */
</style>
